
<% provide(:title, 'About') %>

<h1>About This App</h1>

<p>This should be pretty self explanatory based on the name alone.  It's a Twitter
  clone.  It's a practice app to build the functionality one would find on Twitter.
</p>