<% provide(:title, 'Contact Me') %>

<h1>Contact Me</h1>

<p>What's that?  You want to give me a job, paying me lots and lots of money to build
  awesome things for you?  Well let's talk about it.  You can find me on Twitter right
  <a href="http://twitter.com/brandnburkhardt">here!</a>
</p>