
<% provide(:title, 'Help') %>

<h1>Help Page</h1>

<p>
  This is the generic help page that every app has to have.  It is possible that some
  day I will have something helpful to put here, but only time will tell.
</p>