
<% provide(:title, @user.name) %>

<div class="row">
  <section id="sidebar" class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 80 %>
        <%= @user.name %>
      </h1>
    </section>
  </section>
</div>